html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #2B2A29;
  background-color: #fff;
  min-height: 100vh;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  height: clamp(70px, 9vw, 120px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #f2f2f2;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: clamp(70px, 9vw, 120px);
  height: clamp(70px, 9vw, 120px);
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__menu {
  margin: 0 10px 0 auto;
}

.menu__button {
  display: none;
}

.menu__list-link {
  font-size: clamp(18px, 2vw, 24px);
}

/* language */

.lang-menu {
  position: relative;
  font-size: clamp(18px, 2vw, 24px);
}

.lang-menu .selected-lang {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #2B2A29;
  border-radius: 15px;
  width: 50px;
  text-align: center;
}

.lang-menu__dropdown {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
}

.lang-menu__dropdown li {
  text-align: center;
  
}

.lang-menu__dropdown li a {
  display: block;
  color: #2B2A29;
  border: 2px solid #2B2A29;
  border-radius: 15px;
  text-decoration: none;
  width: 50px;
  padding: 5px 0;
  margin: 5px 0;
}

.lang-menu.open .lang-menu__dropdown {
  display: block;
}



/* ============= header__mobile ============= */

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    gap: 0 clamp(10px, 5vw, 100px);
  }
}

@media (max-width: 767px) {
  .menu__button {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__button span,
  .menu__button::before,
  .menu__button::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #2B2A29;
  }

  .menu__button::before,
  .menu__button::after {
    content: '';
  }

  .menu__button::before {
    top: 0;
  }

  .menu__button::after {
    bottom: 0;
  }

  .menu__button span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__button._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__button._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__button._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    color: #fff;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #f2f2f2;
    z-index: 2;
  }

  .menu__list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu__list-link {
    font-size: 24px;
  }
}

/* ============= main-screen ============= */

.main {
  margin-top: clamp(70px, 9vw, 120px);
  
}

.main-screen {
  padding: clamp(40px, 5vw, 240px) 0 clamp(30px, 5vw, 70px);
}

.main-screen__inner {
  display: flex;
  justify-content: space-between;
  
}

.main-screen__item {

}

.main-screen-img {
  max-width: 440px;
  max-height: 650px;
  transition: transform 0.1s ease-out;
}
.main-screen-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-screen__info {
  position: relative;
  z-index: 5;
  text-align: center;
  max-width: 600px;
}
.main-screen__title {
  font-size: clamp(20px, 5vw, 64px);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.32px;
  margin-bottom: clamp(10px, 5vw, 60px);
  
}
.main-screen__text {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 400;
  max-width: 420px;
  margin: 0 auto clamp(10px, 5vw, 60px);
}
.main-screen__button {
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 500;
  background-color: #2B2A29;
  padding: clamp(8px, 2vw, 20px) clamp(14px, 2vw, 30px);
  color: #fff;
  border: none;
  border-radius: 20px;
}

@media (hover: hover) {
  .main-screen__button:hover {
    color: #F49712;
    background-color: #797672;
  }
}

@media (hover: none) {
  .main-screen__button:active {
    color: #F49712;
    background-color: #797672;
  }
}

/* ============= main-screen ============= */

@media (max-width: 768px) {
  .main-screen__title {
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  .main-screen__item-1 {
    
  } 
  .main-screen__item-2 {
    margin-top: auto;
  }
  .main-screen__item-3 {
    display: none;
  }
}

/* ============= about============= */

.about {
  padding: clamp(70px, 5vw, 160px) 0;
  text-align: center;
}

.about__title {
  font-size: clamp(40px, 5vw, 64px);
  margin-bottom: clamp(30px, 5vw, 70px);
}

.about__text {
  font-size: clamp(16px, 5vw, 24px);
  max-width: 910px;
  margin: 0 auto;
  line-height: 1.4;
}

/* ============= galeria ============= */

.galeria {
  padding: clamp(70px, 5vw, 160px) 0;
}

.galeria__title {
  font-size: clamp(40px, 5vw, 64px);
  margin-bottom: clamp(30px, 5vw, 70px);
  text-align: center;
}
.galeria__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.galeria__item {
  
}
.galeria__img {
  max-width: 470px;
  max-height: 470px;
  margin-bottom: 20px;
}
.galeria__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}
.galeria__text {
  font-size: clamp(16px, 5vw, 24px);
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
